.task-counter {
    display: flex;
    justify-content: center;
    margin-top: 4rem;

    .parent-card {
        width: 300px;
        height: 144px;
        border-radius: 24px;
        background: #6746EE;

        .card {
            img {
                width: 94px;
                height: 101px;
            }

            .text {
                display: flex;
                flex-direction: column;
                margin-left: 28px;

                h1 {
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                }

                h2 {
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .card-content {
                display: flex;
                flex-direction: row;

                .image {
                    flex: 0.9;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    margin-top: 43px;
                }
            }
        }
    }
}

.search {
    display: flex;
    justify-content: center;

    .form {
        mat-form-field {
            min-width: 300px;
        }
    }
}

.task {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    .parent-card {
        display: flex;
        width: 300px;
        padding: 16px 14px;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 32px 202px;
        flex-wrap: wrap;
        border-radius: 24px;
        background: rgba(214, 93, 177, 0.73);

        .card {
            .card-content {
                h4 {
                    color: #FFF;
                    text-align: center;
                    font-family: Poppins;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }

}

.to-do {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    h3 {
        color: #000;
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}