<div class="task">
    <div class="parent-card">
        <div class="card">
            <div class="card-content">
                <div class="text">
                    <h1>Today</h1>
                    <h2>x/y Tasks</h2>
                </div>
                <div class="image">
                    <img src="../../../assets/free.svg" alt="free">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="to-do">
    <h3>To Do 🚀</h3>
</div>

<div class="search">
    
</div>

<div class="task">
    <div class="parent-card">
        <div class="card">
            <div class="card-content">
                <div class="text">
                    <h4>Card title</h4>
                </div>
            </div>
        </div>

    </div>
</div>